.linearLabelWithValidationSimple {
  align-items: baseline;
  margin-top: 1rem;
}
.cancelBottom {
  color: #acaeaf;
}
.customNameContainer {
  min-width: 80%;
}

.linearLabelWithValidation {
  align-items: baseline;
  margin-top: 1rem;
  min-width: 130px;
}

.linearLabelWithValidationTextArea {
  align-items: baseline;
  margin-top: 1rem;
  min-width: 130px;
}

.customInfractionContainer {
  min-width: 81%;
}
